---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$grey-color:		#828282;
$black-color:		#272822;
$white-color:		#f8f8f2;

.footer-copyright {
	font-size: 12px;
	text-align: center;
	color: $grey-color;
}

.highlighter-rouge .highlight {
    background: $black-color;
    color: $white-color;
}

.contact-list {
	text-align: left;
}

.footer-col-2 {
	float: right;
}

code {
	background-color: $black-color;
	color: $white-color;
}